<div class="jumbotron">
  <header class="container">
    <!-- {{ "The Total number of Employees are " + totalLength }}<br /> -->
    <div class="form-group has-feedback">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" name="searchText">
      <span class="container" class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </header>

  <body>
    <div *ngIf="list">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th class="collapsible" data-collapsible="accordion">
              Id
              <span ng-class="{'glyphicon glyphicon-arrow-down':uparrow,'glyphicon glyphicon-arrow-up':!uparrow}" (click)="uparrow=!uparrow"
               >
                <a class="right" *ngIf="!uparrow" (click)="getAscendingOrderForId()" >
                  <span  class="glyphicon glyphicon-arrow-up"></span>
                </a>
                <a class="right" *ngIf="uparrow" (click)="getDescendingOrderForId()">
                  <span  class="glyphicon glyphicon-arrow-down"></span></a></span>
            </th>
            <th>
              Name
              <span ng-class="{'glyphicon glyphicon-arrow-down':uparrow,'glyphicon glyphicon-arrow-up':!uparrow}" (click)="uparrow=!uparrow">
                <a class="right" *ngIf="!uparrow" (click)="getAscendingOrderForName()">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                </a>
                <a class="right" *ngIf="uparrow" (click)="getDescendingOrderForName()">
                  <span class="glyphicon glyphicon-arrow-down"></span></a></span>
            </th>
            <th>
              Email
              <span ng-class="{'glyphicon glyphicon-arrow-down':uparrow,'glyphicon glyphicon-arrow-up':!uparrow}" (click)="uparrow=!uparrow"><a class="right" *ngIf="!uparrow" (click)="getAscendingOrderForEmail()">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                </a>
                <a class="right" *ngIf="uparrow" (click)="getDescendingOrderForEmail()">
                  <span class="glyphicon glyphicon-arrow-down"></span></a></span>
            </th>
            <th>
              Phone Number
              <span ng-class="{'glyphicon glyphicon-arrow-down':uparrow,'glyphicon glyphicon-arrow-up':!uparrow}" (click)="uparrow=!uparrow"><a class="right" *ngIf="!uparrow" (click)="getAscendingOrderForPhnno()">
                  <span class="glyphicon glyphicon-arrow-up"></span>
                </a>
                <a class="right" *ngIf="uparrow" (click)="getDescendingOrderForPhnno()">
                  <span class="glyphicon glyphicon-arrow-down"></span></a></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of rec | search:searchText">
            <td>
              <b>{{ emp.empid }}</b>
            </td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.phnno }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  <footer class="cent">
    <span *ngFor="let index of pages">
      <button class="btn btn-outline-dark" (click)="getparams(index)" [ngClass]="currentPage === index ? 'active' : ''">
        {{ index + 1 }}
      </button>
    </span>
  </footer>
</div>
<!--class="btn btn-light" class="btn-group" type="button"  (keyup)="search($event.target.value)" 

    <div >
        <span class="glyphicon glyphicon-search" ></span>
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" name="searchText">
      <i class="glyphicon glyphicon-search"></i>
    </div>
    workable
    <div  class="container">
     <div class="input-group" >
        <input class="form-control ">
        <span class="input-group-addon bg-white"><i class="glyphicon glyphicon-search"></i></span>
    </div></div>
    -->