<div class="jumbotron">
  <header>
    {{ "The Total number of Employees are " + totalLength }}<br />
    <span >
      
     <span class="input-group-text" id="inputGroup-sizing-sm">search</span>&nbsp; &nbsp;
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="getAscendingOrder()"
      >
        <span class="glyphicon glyphicon-chevron-up"></span>
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="getDescendingOrder()"
      >
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
    </span>
    <!-- <div *ngIf="searchedList then faketemplate">
      <p>success</p>
    </div> -->
  </header>
  <body>
    <div *ngIf="list">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tr *ngFor="let emp of rec | searchbox: { name: searchText }">
          <td>
            <b>{{ emp.empid }}</b>
          </td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.phnno }}</td>
        </tr>
      </table>
    </div>
    <!-- <div>
  <ng-template #faketemplate>
    <tr *ngFor="let emp of searchedList">
      <td>
        <b>{{ emp.empid }}</b>
      </td>
      <td>{{ emp.name }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.phnno }}</td>
    </tr>
</ng-template>
</div> -->
  </body>
  <footer class="cent">
    <span *ngFor="let index of pages">
      <button
        class="btn btn-outline-dark"
        (click)="getparams(index)"
        [ngClass]="currentPage === index ? 'active' : ''"
      >
        {{ index + 1 }}
      </button>
    </span>
  </footer>
</div>
<!--  (keyup)="search($event.target.value)" -->
